@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h1 class="text-danger">@ViewData["Title"]</h1>
                <p class="text-danger">Sei capra non puoi entrare!!!</p>
            </div>
        </div>
    </div>
</section>